body{
  margin:0;
  padding:0;
  background:#000;
  box-sizing:border-box;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  width:1200px;
  }
span , h1 , p{
  text-transform:capitalize;
  }
div{
  position:relative;
  width:300px;
  height:auto;
  padding:10px;
  background:#fff;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:5px;
  }
.card div{
  width:90%;
  }
h1{
  margin-bottom:0;
  color:#1976D2;
  }
p{
  margin-bottom:0;
  color:#B0BEC5;
  }
.header{
  border-bottom:2px solid #eee;
  margin-bottom:20px;
  }
.card > div:not(.header){
  background:#eee;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  }
span{
  text-align:center;
  }
img{
  position:absolute;
  top:-110px;
  }